@import '../../global.scss';

$tab_width_open: 300px;
$tab_item_height: 60px;

.component {
    
    height: 100%;
    display: flex;

    > .tab {

        flex: 0 0 $tab_width_open;
        height: 100%;
        background: #EFEFEF;
        border-right: 1px solid #ddd;

        > .item {

            position: relative;
            cursor: pointer;
            height: $tab_item_height;
            line-height: $tab_item_height;
            padding-left: 60px;

            &.active {
                background: #CFCFCF;
            }

            &:hover {
                background: #DFDFDF !important;
            }

            > .icon {
                position: absolute;
                top: 0;
                left: 0;
                width: 60px;
                height: $tab_item_height;
                padding: 15px;
                box-sizing: border-box;
            }

        }

    }

    > .main {
        display: flex;
        flex: 1 0 0;
        box-sizing: border-box;
        overflow: auto;
    }

    &.trans-enter {
        
        > .main {
            opacity: 0;
        }
    }

    &.trans-enter.trans-enter-active {

        > .main {
            opacity: 1;
            transition: opacity 250ms ease-in;
        }
    }

    &.trans-exit-active {

        > .main {
            opacity: 0;
            transition: opacity 250ms ease-in;
        }
    }

}