@import '../global.scss';

$item-background: white;
$item-color: #3D5563;
$item-background-active: #84afc5;
$item-color-active: white;

.component {

    position: relative;
    z-index: 100;
    background: white;
    height: $navigator_height;
    box-shadow: 0 2px 3px rgba(0,0,0,0.12);

    > .inner {
        z-index: 1;

        > .content {
            position: relative;
            clear: both;
            width: 980px;
            height: 100%;
            margin: 0 auto;

            > .navigator-item {
                display: inline-block;
                background: $item-background;
                color: $item-color;
                text-decoration: none;
                height: 100%;
                padding: 0 15px;
                line-height: $navigator_height;

                &.active {
                    background: $item-background-active;
                    color: $item-color-active;
                }
            }
        }

    }

    > .loading-bar {
        z-index: 0;
        position: absolute;
        overflow: hidden;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;

        &:before {
            content: "";
            position :absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: #4197d1;
            animation: loading 2s linear infinite;
        }
    }

}
  
@keyframes loading {
    from {left: -30%; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}