.component {
    flex-grow: 1;
    min-width: 1054px;

    > .table-header, > .table-item {
        display: flex;
        line-height: 48px;
        border-bottom: 1px solid #ddd;

        > .table-column {
            display: flex;
            font-size: 12px;
            padding: 0 12px;

            &.title {
                flex: 4 0 360px;
            }

            &.visibility {
                flex: 0 0 100px;
            }

            &.date {
                flex: 0 0 150px;
            }

            &.views {
                flex: 0 0 150px;
            }

            &.likes {
                flex: 0 0 150px;
            }

            &:last-child {
                padding: 0 24px 0 12px;
            }

            &.right-align {
                justify-content: flex-end;
            }

        }
    }

    > .table-header {
        color: #999;
        font-weight: bold;
    }

    > .table-item {

        &:hover {
            background: #f7f7f7;
        }

    }

    > .empty-list {
        font-size: 12px;
        color: #555;
        line-height: 48px;
        text-align: center;
        cursor: pointer;
        transition: .2s;

        &:hover {
            background: #eee;
            color: black;
        }
    }

}